<div class="container">

    <div class="mail-box">
        <aside class="sm-side">
            <div class="user-head"> <a class="inbox-avatar" href="javascript:;">

                <img width="64" hieght="60" src="http://bootsnipp.com/img/avatars/ebeb306fd7ec11ab68cbcaa34282158bd80361a7.jpg">

            </a>
                <div class="user-name">
                    <h5><a href="#">Alireza Zare</a></h5>
                    <span><a href="#">Info.Ali.Pci@Gmail.com</a></span>
                </div> <a class="mail-dropdown float-right" href="javascript:;">

                    <i class="fa fa-chevron-down"></i>

                </a>
            </div>
            <div class="inbox-body"> <a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-compose">

                Compose

            </a>
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                     id="myModal" class="modal fade" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&#xD7;</button>
                                <h4 class="modal-title">Compose</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" class="">
                                    <div class="form-group">
                                        <label class="col-xl-2 col-form-label">To</label>
                                        <div class="col-xl-10">
                                            <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xl-2 col-form-label">Cc / Bcc</label>
                                        <div class="col-xl-10">
                                            <input type="text" placeholder="" id="cc" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xl-2 col-form-label">Subject</label>
                                        <div class="col-xl-10">
                                            <input type="text" placeholder="" id="inputPassword1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xl-2 col-form-label">Message</label>
                                        <div class="col-xl-10">
                                            <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="offset-lg-2 col-xl-10"> <span class="btn green fileinput-button">

                                                        <i class="fa fa-plus fa fa-white"></i>

                                                        <span>Attachment</span>
                                            <input
                                                type="file" name="files[]" multiple>
                                                </span>
                                            <button class="btn btn-send" type="submit">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <ul class="inbox-nav inbox-divider">
                <li class="active"> <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger float-right">2</span></a>
                </li>
                <li> <a href="#"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                </li>
                <li> <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
                </li>
                <li> <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="badge badge-info float-right">30</span></a>
                </li>
                <li> <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
                </li>
            </ul>
            <ul class="nav nav-pills flex-column labels-info inbox-divider">
                <li class="nav-item">
                    <h4>Labels</h4>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-sign-blank text-danger"></i> Work </a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-sign-blank text-success"></i> Design </a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
                </li>
            </ul>
            <ul class="nav nav-pills flex-column labels-info ">
                <li class="nav-item">
                    <h4>Buddy online</h4>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
                </li>
            </ul>
            <div class="inbox-body text-center">
                <div class="btn-group"> <a class="btn mini btn-primary" href="javascript:;">

                    <i class="fa fa-plus"></i>

                </a>
                </div>
                <div class="btn-group"> <a class="btn mini btn-success" href="javascript:;">

                    <i class="fa fa-phone"></i>

                </a>
                </div>
                <div class="btn-group"> <a class="btn mini btn-info" href="javascript:;">

                    <i class="fa fa-cog"></i>

                </a>
                </div>
            </div>
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>
                <form action="#" class="float-right position">
                    <div class="input-append">
                        <input type="text" class="sr-input" placeholder="Search Mail">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                <div class="mail-option">
                    <div class="chk-all">
                        <input type="checkbox" class="mail-checkbox mail-group-form-check">
                        <div class="btn-group"> <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">

                            All

                            <i class="fa fa-angle-down "></i>

                        </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#"> None</a>
                                </li>
                                <li class="dropdown-item"><a href="#"> Read</a>
                                </li>
                                <li class="dropdown-item"><a href="#"> Unread</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group"> <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown"
                                               href="#" class="btn mini tooltips">

                        <i class=" fa fa-refresh"></i>

                    </a>
                    </div>
                    <div class="btn-group hidden-phone"> <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">

                        More

                        <i class="fa fa-angle-down "></i>

                    </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
                            </li>
                            <li class="dropdown-item"><a href="#"><i class="fa fa-ban"></i> Spam</a>
                            </li>
                            <li class="divider dropdown-item"></li>
                            <li class="dropdown-item"><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group"> <a data-toggle="dropdown" href="#" class="btn mini blue">

                        Move to

                        <i class="fa fa-angle-down "></i>

                    </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
                            </li>
                            <li class="dropdown-item"><a href="#"><i class="fa fa-ban"></i> Spam</a>
                            </li>
                            <li class="divider dropdown-item"></li>
                            <li class="dropdown-item"><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 234</span>
                        </li>
                        <li> <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li> <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>
                <table class="table table-inbox table-hover">
                    <tbody>
                    <tr class="unread">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message  dont-show">PHPClass</td>
                        <td class="view-message ">Added a new class: Login Class Fast Site</td>
                        <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message  text-right">9:27 AM</td>
                    </tr>
                    <tr class="unread">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Google Webmaster</td>
                        <td class="view-message">Improve the search presence of WebSite</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 15</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">JW Player</td>
                        <td class="view-message">Last Chance: Upgrade to Pro for</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 15</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Tim Reid, S P N</td>
                        <td class="view-message">Boost Your Website Traffic</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">April 01</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">Freelancer.com <span class="badge badge-danger float-right">urgent</span>
                        </td>
                        <td class="view-message">Stop wasting your visitors</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">May 23</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">WOW Slider</td>
                        <td class="view-message">New WOW Slider v7.8 - 67% off</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">March 14</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">LinkedIn Pulse</td>
                        <td class="view-message">The One Sign Your Co-Worker Will Stab</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">Feb 19</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Drupal Community<span class="badge badge-success float-right">megazine</span>
                        </td>
                        <td class="view-message view-message">Welcome to the Drupal Community</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 04</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Facebook</td>
                        <td class="view-message view-message">Somebody requested a new password</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">June 13</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Skype <span class="badge badge-info float-right">family</span>
                        </td>
                        <td class="view-message view-message">Password successfully changed</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 24</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">Google+</td>
                        <td class="view-message">alireza, do you know</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 09</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="dont-show">Zoosk</td>
                        <td class="view-message">7 new singles we think you&apos;ll like</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">May 14</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">LinkedIn</td>
                        <td class="view-message">Alireza: Nokia Networks, System Group and</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">February 25</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="dont-show">Facebook</td>
                        <td class="view-message view-message">Your account was recently logged into</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">March 14</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Twitter</td>
                        <td class="view-message">Your Twitter password has been changed</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">April 07</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">InternetSeer Website Monitoring</td>
                        <td class="view-message">http://golddesigner.org/ Performance Report</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">July 14</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">AddMe.com</td>
                        <td class="view-message">Submit Your Website to the AddMe Business Directory</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">August 10</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Terri Rexer, S P N</td>
                        <td class="view-message view-message">Forget Google AdWords: Un-Limited Clicks fo</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">April 14</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Bertina</td>
                        <td class="view-message">IMPORTANT: Don&apos;t lose your domains!</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">June 16</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i>
                        </td>
                        <td class="view-message dont-show">Laura Gaffin, S P N</td>
                        <td class="view-message">Your Website On Google (Higher Rankings Are Better)</td>
                        <td class="view-message inbox-small-cells"></td>
                        <td class="view-message text-right">August 10</td>
                    </tr>
                    <tr class="">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-form-check">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i>
                        </td>
                        <td class="view-message dont-show">Facebook</td>
                        <td class="view-message view-message">Alireza Zare Login faild</td>
                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="view-message text-right">feb 14</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </aside>
    </div>
</div>

























<div class="container "  >
    <div class="card mb-3">
        <div class="card-header"><h5>Liste  des qcms</h5></div>
        <div class="card-body table-responsive" style="min-height: 350px;"  >










            <nav id="navbar-example2" class="navbar navbar-light bg-light" >
                <div class="form-group input-group">

                    <div  class="d-inline-block">

                        total des quiz 3



                    </div>






                </div>

            </nav>






            <div style="overflow-x:auto; "style="width: 1000px">
                <table class="table table-striped ">
                    <thead>
                    <tr>

                        <th>Nom et Prenom</th>

                        <th>Nom entreprise</th>
                        <th>telephone</th>
                        <th>Email</th>
                        <th>Date demande</th>




                        <th>action</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr >




                        <td></td>
                        <td>  </td>
                        <td ></td>
                        <td ></td>
                        <td ></td>


                        <td>
                         </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>


    </div>
</div>




<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png"
                     class="online" alt="">
                <p>Mike Ross</p>	<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div
                    id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p>
                        </li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p>
                        </li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p>
                        </li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p>
                        </li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="mikeross">
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="ross81">
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="mike.ross">
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input type="text" placeholder="Search contacts...">
        </div>
        <div id="contacts">
            <ul>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status online"></span>
                        <img src="http://emilcarlsson.se/assets/louislitt.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Louis Litt</p>
                            <p class="preview">You just got LITT up, Mike.</p>
                        </div>
                    </div>
                </li>
                <li class="contact active">
                    <div class="wrap">	<span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Harvey Specter</p>
                            <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their
                                bluff. Or, you do any one of a hundred and forty six other things.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status away"></span>
                        <img src="http://emilcarlsson.se/assets/rachelzane.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Rachel Zane</p>
                            <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status online"></span>
                        <img src="http://emilcarlsson.se/assets/donnapaulsen.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Donna Paulsen</p>
                            <p class="preview">Mike, I know everything! I&apos;m Donna..</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/jessicapearson.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Jessica Pearson</p>
                            <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/haroldgunderson.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Harold Gunderson</p>
                            <p class="preview">Thanks Mike! :)</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/danielhardman.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Daniel Hardman</p>
                            <p class="preview">We&apos;ll meet again, Mike. Tell Jessica I said &apos;Hi&apos;.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/katrinabennett.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Katrina Bennett</p>
                            <p class="preview">I&apos;ve sent you the files for the Garrett trial.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/charlesforstman.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Charles Forstman</p>
                            <p class="preview">Mike, this isn&apos;t over.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">	<span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/jonathansidwell.png"
                             alt="">
                        <div class="meta">
                            <p class="name">Jonathan Sidwell</p>
                            <p class="preview"><span>You:</span> That&apos;s bullshit. This deal is solid.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>  <span>Add contact</span>
            </button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>  <span>Settings</span>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
            <p>Harvey Specter</p>
            <div class="social-media">	<i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter"
                   aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
        <div class="messages">
            <ul>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="">
                    <p>How the hell am I supposed to get a jury to believe you when I am not
                        even sure that I do?!</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <p>When you&apos;re backed against the wall, break the god damn thing down.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <p>Excuses don&apos;t win championships.</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="">
                    <p>Oh yeah, did Michael Jordan tell you that?</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <p>No, I told him that.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <p>What are your choices when someone puts a gun to your head?</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="">
                    <p>What are you talking about? You do what they say or they shoot you.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their
                        bluff. Or, you do any one of a hundred and forty six other things.</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" placeholder="Write your message...">	<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
