<div class="page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa fa-bars text-muted" aria-hidden="true"></i>
            </button>

            <div #sam class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li *ngIf="isEtudiant()" class="nav-item dropdown"> <a class="nav-link " id="dLabel" role="button" data-toggle="dropdown" data-target="#" >

                        <i class="fa fa-bell" style="cursor: pointer;font-size: 16px;" (click)="getNotifications(profile.id, size);" (click)="notification(data?.totalElements==0)">Notification</i>

                    </a>
                        <ul  class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" *ngIf="data?.totalElements!=0">
                            <div class="notification-heading ">
                                <h4 class="menu-title">Notifications</h4>
                                <!--h4 class="menu-title float-right">View all<i class="fa fa-arrow-circle-o-right"></i></h4-->
                            </div>
                            <div class="notifications-wrapper" >


                                <a *ngFor="let messagerie of data?.content"
                                    class="content" style="cursor: pointer"

                            >

                                <div class="notification-item" (click)="goMessagerieE(messagerie.user1.id)">

                                    <!--img src="http://www.leapcms.com/images/100pixels1.gif"-->
                                    <img src="{{getPhotoManager(messagerie.user1.image,messagerie.user1.nomEntreprise)}}" height="100px" width="100px">

                                    <h6 class="item-info">{{messagerie.user1.prenom}} {{messagerie.user1.nom}}  <small class="float-right">{{messagerie.date|amTimeAgo}}</small></h6>

                                    <p class="item-info" style="background-color: #00aced">{{getMessage(messagerie.message)}}</p>

                                </div>

                            </a>
<div><button *ngIf="data?.totalElements>size" class="btn btn-primary" style="width: 100%;font-size: 25px;color: black" (mouseover)="change()">suivant</button></div>
                            </div>
                        </ul>
                    </li>


                    <li *ngIf="isManager()" class="nav-item dropdown"> <a class="nav-link " id="dLabel" role="button" data-toggle="dropdown" data-target="#" >

                        <i class="fa fa-bell" style="cursor: pointer;font-size: 16px;" (click)="notification(data?.totalElements==0)"> Notification</i>

                    </a>
                        <ul *ngIf="data?.totalElements!=0" class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                            <div class="notification-heading">
                                <h4 class="menu-title"> Notifications</h4>
                                <!--h4 class="menu-title float-right">View all<i class="fa fa-arrow-circle-o-right"></i></h4-->
                            </div>
                            <div class="notifications-wrapper" > <a *ngFor="let messagerie of data?.content"
                                                                   class="content" style="cursor: pointer"

                            >

                                <div class="notification-item" (click)="goMessagerieM(messagerie.user1.id)">

                                    <!--img src="http://www.leapcms.com/images/100pixels1.gif"-->
                                    <img src="{{getPhotoCandidat(messagerie.user1.image,messagerie.user1.id)}}" height="100px" width="100px">

                                    <h6 class="item-info">{{messagerie.user1.prenom}} {{messagerie.user1.nom}}  <small class="float-right">{{messagerie.date|amTimeAgo}}</small></h6>

                                    <p class="item-info" style="background-color: #00aced">{{getMessage(messagerie.message)}}</p>

                                </div>

                            </a>
                                <div><button *ngIf="data?.totalElements>size" class="btn btn-primary" style="width: 100%;font-size: 25px;color: black" (mouseover)="change()">suivant</button></div>
                            </div>
                        </ul>
                    </li>













                    <li *ngIf="manager" class="nav-item">
                        <a   class="nav-link" routerLink="/compteManager">
                            <i *ngIf="profile?.image==null" class="fa fa-user"></i>
                            <img  *ngIf="profile?.image!=null" class="imgh" src="{{getPhotoManager(profile.image,profile.nomEntreprise)}}"
                               width="25px" height="25px"  >
                            Manager {{profile.prenom}}
                        </a>
                    </li>
                    <li *ngIf="etudiant" class="nav-item">
                        <a   class="nav-link" routerLink="/CompteEtudiant">

                                <i *ngIf="profile?.image==null" class="fa fa-user"></i>
                                <img *ngIf="profile?.image!=null" class="imgh" src="{{getPhotoCandidate(profile.image,profile.id)}}"
                                     width="25px" height="25px" >
                                Etudiant {{profile.prenom}}
                        </a>
                    </li>



                    <li class="nav-item">
                        <a   class="nav-link" style="cursor: pointer" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> Deconnecter
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

