<div class="page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa fa-bars text-muted" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item dropdown"> <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <i class="fa fa-bell"> Notification</i>

                </a>
                    <ul class="dropdown-menu">
                        <li class=" bg-dark dropdown-item nav-item">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-12"> <span>Notifications</span>
                                    <a href="" class="float-right text-light">Mark all as read</a>
                                </div>
                            </div>
                        </li>
                        <li class="notification-box dropdown-item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-3 text-center">
                                    <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
                                </div>
                                <div class="col-xl-8 col-md-8 col-8"> <strong class="text-info">David John</strong>
                                    <div>Lorem ipsum dolor sit amet, consectetur</div> <small class="text-warning">27.11.2015, 15:00</small>
                                </div>
                            </div>
                        </li>
                        <li class="notification-box bg-gray dropdown-item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-3 text-center">
                                    <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
                                </div>
                                <div class="col-xl-8 col-md-8 col-8"> <strong class="text-info">David John</strong>
                                    <div>Lorem ipsum dolor sit amet, consectetur</div> <small class="text-warning">27.11.2015, 15:00</small>
                                </div>
                            </div>
                        </li>
                        <li class="notification-box dropdown-item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-3 text-center">
                                    <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
                                </div>
                                <div class="col-xl-8 col-md-8 col-8"> <strong class="text-info">David John</strong>
                                    <div>Lorem ipsum dolor sit amet, consectetur</div> <small class="text-warning">27.11.2015, 15:00</small>
                                </div>
                            </div>
                        </li>
                        <li class="footer bg-dark text-center dropdown-item"> <a href="" class="text-light">View All</a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item">
                        <a   class="nav-link" routerLink="/profileUrh">
                            <i class="fa fa-fw fa-user"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a   class="nav-link" style="cursor: pointer" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> Deconnecter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

