

<script src="quiz.component.ts"></script>
<div class="container "  >
  <div class="card mb-3">
    <div class="card-header ">

      <div style="display: block;">
        <h5>Liste  des quizs

        </h5>

      </div></div>
    <div class="card-body table-responsive" style="min-height: 350px;"  >










      <nav id="navbar-example2" class="navbar navbar-light bg-light" style="overflow-x:auto; "style="width:1000px">

        <div class="form-group input-group">

          <div  class="d-inline-block" style="align:center">
</div></div>

      </nav>

      <div style="overflow-x:auto; "style="width:1000px">
        <table class="table table-striped ">
          <thead>
          <tr>

            <th colspan="2">Titre</th>

            <th>Temps par question</th>

            <th>Action</th>









          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let quiz of quizs;">


            <td colspan="2">{{quiz.titre}} </td>
            <td>{{quiz.duree}} secondes</td>

            <td><div class="btn-group " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


              <a class="btn btn-blog    marginBottom10" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-2x fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a   class="search" style="color:black"  data-toggle="tooltip"(click)="verif(quiz.id)" >
                  <i class="material-icons">question_answer</i>Passer un test</a><br>
                <a  class="edit" data-toggle="tooltip" (click)="resultat(quiz)"><i class="material-icons"  >view_headline</i> voir resultat</a>




              </div>
            </div></td>




          </tr>

          </tbody>
        </table>

      </div>

    </div>


  </div>
</div>
<!-- The Modal -->
<div class="modal" id="modalQuiz">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajout Quiz</h4>
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
      </div>

      <!-- Modal body -->
      <form novalidate #fo="ngForm" (ngSubmit)="register(fo)" >
        <div class="modal-body">

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Titre</label>
                <input type="text" #cfn="ngModel" ngModel='' name="titre" class="form-control" id="exampleInputName"  aria-describedby="nameHelp" placeholder="Entrez titre quiz" required minlength="3">
                <div *ngIf="cfn.errors?.required && cfn.touched" class="isa_warning">Champ Titre obligatoire</div>
                <div *ngIf="cfn.errors?.minlength && !cfn.errors?.required && cfn.touched" class="isa_warning">Minimum de caractére 3</div></div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Durée</label>
                <input type="number" #cln="ngModel" ngModel='20'  name="duree" min="20" max="80" class="form-control"   required min max><div *ngIf="cln.errors?.min && cln.touched" class="isa_warning">durrée minimum 20 seconde</div>
                <div *ngIf="cln.errors?.max  && cln.touched" class="isa_warning">durrée maximum 100 seconde</div>
                <div *ngIf="cln.errors?.required && cln.touched" class="isa_warning">Champ durée obligatoire</div> </div>
            </div><input type="hidden" name="offre">
          </div>
        </div>






        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" > Enregistrer </button>&nbsp;
        </div>
      </form>
    </div>
  </div>
</div>
