<i data-toggle="modal" [attr.data-target]="'#' +'formation'+ formation.id" ><i  class="material-icons update" data-toggle="tooltip" title="modifier">update</i>
</i>
<div class="modal fade" id="formation{{formation.id}}">
    <div class="modal-dialog ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modifier formation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body ">

                <form class="example-form" novalidate #fo4="ngForm" (ngSubmit)="updateFormation(fo4)">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom de la societé" #university="ngModel" [ngModel]='formation.universite' name="universite"
                               required minlength="3">

                        <mat-hint *ngIf=" university.errors?.required && university.touched" style="color:black">Nom de la societé <b>obligatoire</b></mat-hint>
                        <mat-hint *ngIf=" university.errors?.minlength && university.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="domaine etude" #domaine_etude="ngModel" [ngModel]='formation.section' name="section"
                               required minlength="3">

                        <mat-hint *ngIf=" domaine_etude.errors?.required && domaine_etude.touched" style="color:black">domaine etude <b>obligatoire</b></mat-hint>
                        <mat-hint *ngIf=" domaine_etude.errors?.minlength && domaine_etude.touched " style="color:black">Minimum de caractere 3</mat-hint>
                    </mat-form-field><mat-form-field class="example-full-width">   <input matInput placeholder="diplome" #diplome="ngModel" [ngModel]='formation.specialite' name="specialite"
                                                                                          required minlength="3">

                    <mat-hint *ngIf=" diplome.errors?.required && diplome.touched" style="color:black">diplome <b>obligaoire</b></mat-hint>
                    <mat-hint *ngIf=" diplome.errors?.minlength && diplome.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="mention"  #note="ngModel" [ngModel]='formation.result' name="result" [(value)]="selected" >
                            <mat-option *ngFor="let result of results" [value]="result.value">
                                {{ result.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>  <mat-form-field>   <input matInput  [matDatepicker]="picker" placeholder="Choisir date debut" #date1="ngModel"  name="date1" [ngModel]='formation.date1' (change)="date=0" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Choisir date fin" #date2="ngModel" [ngModel]='formation.date2' name="date2"  >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 ></mat-datepicker>
                    </mat-form-field><div *ngIf="(date1.errors?.required && date1.touched)" style="color:black;">date debut <b>obligaoire</b></div><div *ngIf="date1==1" style="color:black;">date debut <b>invalide</b></div>
                    <input type="hidden" name="id"  #id="ngModel"  ngModel='' >
                    <div class="form-group row">

                        <div class="col-sm-12 col-md-6 "> <button  class="btn btn-success" >valider</button>
                         </div>  <div class="col-sm-12 col-md-6 ">  <flash-messages style="font-size='10px'"></flash-messages></div>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Fermer</button>
            </div>

        </div>
    </div>
</div>
