.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 18px;
}
.example-form input{
  margin-bottom: 8px;
}
.btn-cercle{
  border-radius: 30%;
  display: flex;

}

.example-full-width {
  width: 100%;
}
::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}
::ng-deep .pac-container {
  z-index: 1054 !important;
}