<button  class="btn btn-primary btn-cercle" data-toggle="modal" data-target="#myModalC"><i class="material-icons " data-toggle="tooltip" title="Ajouter nouveau competance">&#xE147;</i></button>
<div class="modal fade" id="myModalC">
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajout nouveau competance</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">

        <form class="example-form" novalidate #fo3="ngForm" (ngSubmit)="saveCompetance(fo3)">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Competance" #name="ngModel" ngModel='' name="name"
                   required >
            <mat-hint *ngIf=" !name.touched" >Les erreurs apparaissent instantanément!</mat-hint>
            <mat-hint *ngIf=" name.errors?.required && name.touched" style="color:black">Competance  <b>obligaoire</b></mat-hint>
  </mat-form-field >
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Niveau"  #note="ngModel" ngModel='' name="note"  [(value)]="selected">
              <mat-option *ngFor="let competance of competances" [value]="competance.value">
                {{ competance.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field><mat-form-field class="example-full-width">
          <input matInput placeholder="certificat" #certificat="ngModel" ngModel='' name="certificat">
          <mat-hint *ngIf=" !certificat.touched" >Les erreurs apparaissent instantanément!</mat-hint>
          <mat-hint *ngIf=" certificat.errors?.required && certificat.touched" style="color:black">lieu <b>obligatoire</b></mat-hint>
          <mat-hint *ngIf=" certificat.errors?.minlength && certificat.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>

         <div class="form-group row">

          <div class="col-sm-12 col-md-6 "> <button  class="btn btn-success" >valider</button>
            <button type="reset" class="btn btn-primary" style="margin-left:10px">annuler</button></div>  <div class="col-sm-12 col-md-6 ">  <flash-messages style="font-size='10px'"></flash-messages></div>
        </div> </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Fermer</button>
      </div>

    </div>
  </div>
</div>
