<div class="container "  >
  <div class="card mb-3">
    <div class="card-header"><h5>Liste  des entreprises</h5></div>
    <div class="card-body table-responsive" style="min-height: 350px;"  >










      <nav id="navbar-example2" class="navbar navbar-light bg-light" >
        <div class="form-group input-group">

          <div  class="d-inline-block">

            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recherche {{rech}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <a class="dropdown-item" (click)="rech='nom';chercher()">Nom</a>
              <a class="dropdown-item" (click)="rech='prenom';chercher()">Prenom</a>
              <a class="dropdown-item" (click)="rech='societe';chercher()">Société</a>


            </div>



          </div>




          <input  (keyup)="search()" [(ngModel)]="query" type="text" name="valeur" required  placeholder="Rechercher " class="form-control">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>

        </div>

      </nav>





      <div class="clearfix"  *ngIf="totalpage>1">
        <div class="hint-text">Affiche <b>{{numberpage}}</b> sur <b>{{totalPages}}</b> entrées</div>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="precedent()"><i class="material-icons">&#xE408;</i></a></li>
          <li   [ngClass]="{'active':i==page}" class="page-item"  *ngFor="let p of pages;let i=index;">
            <a *ngIf=" (page-i<=4 && page>=4 && i<=page)||( i<5 && page<=4)" class="page-link" (click)="goto(i)">{{i}}</a>
          </li>


          <li class="page-item"><a  class="page-link" (click)="suivant()"><i class="material-icons">&#xE409;</i></a></li>
        </ul>
      </div>
      <div style="overflow-x:auto; "style="width: 1000px">
        <table class="table table-striped ">
          <thead>
          <tr>
<th colspan="2"></th>
            <th colspan="2">Nom et Prenom</th>

            <th>Nom entreprise</th>
            <th>telephone</th>
            <th>Email</th>





            <th *ngIf="isAdmin">action</th>


          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of data?.content">


            <td colspan="2">   <div class="upload-btn-wrapper">
              <img *ngIf="c.image==null"  [src]="'assets/images/icons_user.png'" class="rounded-circle img-thumbnail image"
                   style="min-width: 50px; min-height:100%"
              >

              <img *ngIf="c.image!=null"  class="rounded-circle img-thumbnail image" src="{{getPhotoManager(c.image,c.nomEntreprise)}}"
                   style="min-width: 50px; min-height:100%"
              >

              <!--img  src="{{getPhotoCandidate(c.image,c.id)}}" *ngIf="profile.photo!=null" src="{{getPhotoProfil(profile.photo)}}" class="rounded-circle img-thumbnail image"-->


            </div>

            <td colspan="2">{{c.prenom}} {{c.nom}}</td>
            <td> {{c.nomEntreprise.toUpperCase() }} </td>
            <td >{{c.tel}}</td>
            <td >{{c.email}}</td>



            <td *ngIf="isAdmin">
              <div  class="btn-group active" data-toggle="buttons-radio" >

                <button  type="button" class="btn btn-danger no" data-toggle="tooltip" title="Refuser"
                         (click)="refuser(c.id)">Supprimer</button></div>
              </td>
          </tr>

          </tbody>
        </table>
        <div class="clearfix"  *ngIf="totalpage>1">
          <div class="hint-text">Affiche <b>{{numberpage}}</b> sur <b>{{totalPages}}</b> entrées</div>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="precedent()"><i class="material-icons">&#xE408;</i></a></li>
            <li   [ngClass]="{'active':i==page}" class="page-item"  *ngFor="let p of pages;let i=index;">
              <a *ngIf=" (page-i<=4 && page>=4 && i<=page)||( i<5 && page<=4)" class="page-link" (click)="goto(i)">{{i}}</a>
            </li>


            <li class="page-item"><a  class="page-link" (click)="suivant()"><i class="material-icons">&#xE409;</i></a></li>
          </ul>
        </div>
      </div>

    </div>


  </div>
</div>
