.fullscreen_bg {
  background-image: url('http://jonvilma.com/images/clouds-blue-sky-4k-3.jpg');
  background-position: 50% 50%;



  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;

}
.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 5px 0px;
  padding:6px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
