<i data-toggle="modal" [attr.data-target]="'#' +'experience'+ experience.id"><i  class="material-icons update" data-toggle="tooltip" title="modifier">update</i>
</i>
<div class="modal fade" id="experience{{experience.id}}">
    <div class="modal-dialog ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modifier experience</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body ">

                <form class="example-form" novalidate #fo="ngForm" (ngSubmit)="updateExperience(fo)">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom de la societé" #entreprise="ngModel" [ngModel]='experience.entreprise' name="entreprise"
                               required minlength="3">

                        <mat-hint *ngIf=" entreprise.errors?.required && entreprise.touched" style="color:black">Nom de la societé <b>obligaoire</b></mat-hint>
                        <mat-hint *ngIf=" entreprise.errors?.minlength && entreprise.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Description" #description="ngModel" [ngModel]='experience.description' name="description"
                               required >

                        <mat-hint *ngIf=" description.errors?.required && description.touched" style="color:black">Description <b>obligaoire</b></mat-hint>
                    </mat-form-field> <mat-form-field class="example-full-width">
                    <input matInput placeholder="Lieu" #location="ngModel" [ngModel]='experience.lieu' name="lieu"
                           required minlength="3" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">

                    <mat-hint *ngIf=" location.errors?.required && location.touched" style="color:black">lieu <b>obligaoire</b></mat-hint>
                    <mat-hint *ngIf=" location.errors?.minlength && location.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>
                    <mat-form-field class="example-full-width">
                <textarea matInput placeholder="MotCle" #motCle="ngModel" ngModel='{{experience.motCle}}' name="motCle"
                          required minlength="3" ></textarea>

                        <mat-hint *ngIf=" motCle.errors?.required && motCle.touched" style="color:black">Mots clés obligaoire</mat-hint>
                        <mat-hint *ngIf=" motCle.errors?.minlength && motCle.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field> <mat-form-field>
                        <input matInput  [matDatepicker]="picker" placeholder="Choisir date debut" #date1="ngModel"  name="date1" [ngModel]='experience.date1' (change)="date=0" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Choisir date fin" #date2="ngModel" [ngModel]='experience.date2' name="date2"  >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 ></mat-datepicker>
                    </mat-form-field><div *ngIf="(date1.errors?.required && date1.touched)" style="color:black;">Date debut <b>obligaoire</b></div><div *ngIf="date1==1" style="color:black;">date debut <b>invalide</b></div>
                    <input type="hidden" name="id"  #id="ngModel"  ngModel='' >
                    <div class="form-group row">

                        <div class="col-sm-12 col-md-6 "> <button  class="btn btn-success" >valider</button>
                         </div>  <div class="col-sm-12 col-md-6 ">  </div>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Fermer</button>
            </div>

        </div>
    </div>
</div>
