<button  class="btn btn-info btn-sm" data-toggle="modal" data-target="#updatepasswordrh"><i class="material-icons fa fa-edit" data-toggle="tooltip" title="modifier mot de passe"></i>Changer mot de passe</button>
<div class="modal" id="updatepasswordrh" >
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Changer mot de passe</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="fermer()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">

        <form class="example-form" novalidate #fo="ngForm" (ngSubmit)="updatePassword(fo)"><!--div *ngIf="success!==''" class="alert alert-success">
          {{success}}
        </div-->



          <div class="alert alert-warning" *ngIf="error!==''">
            <div><strong>Oops!</strong> {{error}} </div>
          </div>

          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Ancien mot de passe" #oldpassword="ngModel" ngModel='' name="oldpassword"
                   required minlength="4" >

            <mat-hint *ngIf=" oldpassword.errors?.required && oldpassword.touched" style="color:black">Ancien mot de passe  <b>obligatoire</b></mat-hint>
            <mat-hint *ngIf=" oldpassword.errors?.minlength && oldpassword.touched " style="color:black">Minimum de caractere 8</mat-hint> </mat-form-field>
          <mat-form-field class="example-full-width"> <input type="password" matInput placeholder="Nouveau mot de passe" #password="ngModel" ngModel='' name="password"
                                                             required minlength="8">

            <mat-hint *ngIf=" password.errors?.required && password.touched" style="color:black">Nouveau mot de passe  <b>obligatoire</b></mat-hint>
            <mat-hint *ngIf=" password.errors?.minlength && password.touched " style="color:black">Minimum de caractere 8</mat-hint> </mat-form-field>

          <mat-form-field class="example-full-width">  <input type="password" matInput placeholder="Validation  mot de passe" #repassword="ngModel" ngModel='' name="repassword"
                                                              required minlength="8">

            <mat-hint *ngIf=" repassword.errors?.required && repassword.touched" style="color:black">Validation  mot de passe  <b>obligatoire</b></mat-hint>
            <mat-hint *ngIf=" repassword.errors?.minlength && repassword.touched " style="color:black">Minimum de caractere 8</mat-hint> </mat-form-field>

          <div class="form-group row" style="margin-top:20px;">

            <div class="col-sm-12 col-md-6 "> <button  class="btn btn-success" >Valider</button>
              <button type="reset" class="btn btn-primary" style="margin-left:10px">Annuler</button></div>  <div class="col-sm-12 col-md-6 ">  </div>
          </div> </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="fermer()" >Fermer</button>
      </div>

    </div>
  </div>
</div>
