<i data-toggle="modal" [attr.data-target]="'#' +'langue'+ langue.id" class="pull-right"><i  class="material-icons update" data-toggle="tooltip" title="modifier">update</i>
</i>
<div class="modal fade" id="langue{{langue.id}}">
    <div class="modal-dialog ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modifier langue</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
             <div class="modal-body ">

            <form class="example-form" novalidate #fo="ngForm" (ngSubmit)="updateLangue(fo)">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Langue" #clangue="ngModel" [ngModel]='langue.nom' name="nom"
                           required minlength="3">

                    <mat-hint *ngIf=" clangue.errors?.required && clangue.touched" style="color:black">Langue  <b>obligaoire</b></mat-hint>
                    <mat-hint *ngIf=" clangue.errors?.minlength && clangue.touched " style="color:black">Minimum de caractere 3</mat-hint> </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Niveau sur 100" [ngModel]='langue.niveau' min="0" max="100" name="niveau" #niveau="ngModel" required>

                    <mat-hint *ngIf=" niveau.errors?.required && niveau.touched" style="color:black">Niveau  <b>obligaoire</b></mat-hint> </mat-form-field>
<input type="hidden" name="id">

                <div class="col-sm-12 col-md-6 "> <button  class="btn btn-success" >valider</button>
                    <button type="reset" class="btn btn-primary" style="margin-left:10px">annuler</button></div>  <div class="col-sm-12 col-md-6 ">  <flash-messages style="font-size='10px'" ></flash-messages></div>
             </form>
        </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Fermer</button>
            </div>

        </div>
    </div>
</div>
