<div class="container [@routerTransition]" style=" overflow: auto;">

  <div class="card mb-3">
  <div class="card-header title"><h2>Ajouter un nouveau <b>candidat</b></h2></div>
  <div class="card-body table-responsive">


    <form novalidate #fo="ngForm" (ngSubmit)="register(fo)">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-12  col-md-2 col-form-label">Prenon</label>
            <div class="col-sm-12 col-md-10 "><div class=" form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input #cprenom="ngModel" (ngModel)='cand.firstname' name="firstname" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Prenom" required minlength="3"></div><div *ngIf="cprenom.errors?.required && cprenom.touched" class="isa_error">champ prenom obligatoire</div>
                <div *ngIf="!cprenom.errors?.required && cprenom.errors?.minlength && cprenom.touched" class="isa_error">Minimum de caracteres 3 </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Nom</label>
            <div class="col-sm-12 col-md-10"><div class=" form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input #cnom="ngModel" (ngModel)='cand.lastname' name="lastname" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nom" required minlength="3"></div><div *ngIf="cnom.errors?.required && cnom.touched" class="isa_error">nom obligatoire</div>
                <div *ngIf="!cnom.errors?.required && cnom.errors?.minlength && cnom.touched" class="isa_error">Minimum de caracteres 3 </div>
            </div>
        </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Email</label>
        <div class="col-sm-12 col-md-10"><div class=" form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-at"></i></span>
          </div>
          <input type="text" #cemail="ngModel" [(ngModel)]='cand.email' name="email" class="form-control" id="inlineFormInputGroup" placeholder="Email" required email></div><div *ngIf="cemail.errors?.required && cemail.touched" class="isa_error">email obligatoire</div>
          <div *ngIf="!cemail.errors?.required && cemail.errors?.email && cemail.touched" class="isa_error">email non valide</div>
        </div>
      </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-12  col-md-2 col-form-label">Adresse</label>
      <div class="col-sm-12 col-md-10"><div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
        </div>
       <input type="text" #cadresse="ngModel" (ngModel)='cand.adresse' name="adresse" class="form-control" id="inlineFormInputGroup" placeholder="Adresse" required minlength="3">
      </div><div *ngIf="cadresse.errors?.required && cadresse.touched" class="isa_error">Adresse obligatoire</div>
        <div *ngIf="!cadresse.errors?.required && cadresse.errors?.minlength && cemail.touched" class="isa_error">Minimum de caracteres 8 </div> </div>
    </div>
      <div class="form-group row">
      <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Telephone</label>
      <div class="col-sm-12 col-md-10"><div class=" form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
        </div>
        <input #ctel="ngModel" (ngModel)='cand.tel' name="tel"   type="text" class="form-control" id="inlineFormInputGroup" placeholder="Numero de telephone" minlength="8" maxlength="12" required>
      </div> <div *ngIf="ctel.errors?.required && ctel.touched " class="isa_error"> Numero de telephone obligatoire</div> <div *ngIf="!ctel.errors?.required && ctel.errors?.minlength && ctel.touched" class="isa_error">inserer valide numero de telephone</div><div *ngIf="!ctel.errors?.required && !ctel.errors?.minlength && ctel.errors?.maxlength && ctel.touched" class="isa_warning">inserer valide numero de telephone</div>  </div>
    </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Titre</label>
        <div class="col-sm-12 col-md-10"><div class=" form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-briefcase"></i></span>
          </div>
          <input #ctitle="ngModel" (ngModel)='cand.title' name="title" type="text"  class="form-control" id="inlineFormInputGroup" placeholder="Titre" minlength="3"  required>
        </div> <div *ngIf="ctitle.errors?.required && ctitle.touched" class="isa_error">Titre obligatoire</div> <div *ngIf="ctitle.errors?.required && ctitle.errors?.minlength && ctel_mobile.touched" class="isa_error">minimum de caractere 3</div>  </div>
      </div> <div class="form-group row">
      <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Choisir cv</label>
      <div class="col-sm-12 col-md-10">

        <input  (change)="selectFile($event)" type="file" #ccv="ngModel" ngModel='' name="cv" class="form-control" id="inlineFormInputGroup"  >
       </div>
    </div><div class="form-group row">
      <label for="inputPassword" class="col-sm-12 col-md-2 col-form-label">Validation</label>
      <div class="col-sm-12 col-md-10 "> <button type="submit" class="btn btn-secondary">Valider</button>
        <button type="reset" class="btn btn-secondary" style="margin-left:10px">Annuler</button></div>
    </div> </form>
  </div></div>
</div>

